<div class="modal-header">
    <h4 class="modal-title">{{translations.installWizard_offline_title}}</h4>
</div>
<div class="modal-body">
    <div class="jumbotron welcome-panel offline">
        <h1>{{translations.installWizard_offline_title}}</h1>
        <p>{{{translations.installWizard_offline_message}}}</p>
        <p>
            <button type="button" class="btn btn-primary show-proxy-config">{{translations.installWizard_configureProxy_label}}</button>
            <button type="button" class="btn btn-primary skip-plugin-installs">{{translations.installWizard_skipPluginInstallations}}</button>
        </p>
    </div>
</div>
