<div class="modal-header closeable">
	<h4 class="modal-title">{{translations.installWizard_welcomePanel_title}}</h4>
</div>
<div class="modal-body setup-wizard-heading">
  <div class="jumbotron welcome-panel">
		 <h1>{{translations.installWizard_welcomePanel_banner}}</h1>
	<p>
			{{translations.installWizard_welcomePanel_message}}
		</p>
		<p class="button-set">
			<a class="btn btn-primary btn-lg btn-huge install-recommended" href="#" role="button">
				<b>{{translations.installWizard_welcomePanel_recommendedActionTitle}}</b>
				<sub>
					{{translations.installWizard_welcomePanel_recommendedActionDetails}}
				</sub>
			</a>

			<a class="btn btn-default btn-lg btn-huge install-custom" href="#" role="button">
				<b>{{translations.installWizard_welcomePanel_customizeActionTitle}}</b>
				<sub>
					{{translations.installWizard_welcomePanel_customizeActionDetails}}
				</sub>
			</a>
		</p>
	</div>

</div>
