<div class="modal-header">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{{translations.installWizard_installIncomplete_title}}</h4>
</div>
<div class="modal-body">
	<div class="jumbotron welcome-panel success-panel">
		<h1>{{translations.installWizard_installIncomplete_banner}}</h1>
		<p>{{translations.installWizard_installIncomplete_message}}</p>
	</div>
	
	<div class="selected-plugin-progress success-panel">
		{{#each installingPlugins}}
		<div class="selected-plugin {{installStatus}}" data-name="{{id name}}">{{title}}</div>
		{{/each}}
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-link install-home">
		{{translations.installWizard_goBack}}
	</button>
	<button type="button" class="btn btn-primary resume-installation">
		{{translations.installWizard_installIncomplete_resumeInstallationButtonLabel}}
	</button>
</div>