<div class="modal-header">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{{translations.installWizard_installComplete_title}}</h4>
</div>
<div class="modal-body">
	<div class="jumbotron welcome-panel success-panel">
		<h1>{{translations.installWizard_installComplete_banner}}</h1>
		
		{{#if restartRequired}}
		<p>{{translations.installWizard_installComplete_message}} {{translations.installWizard_installComplete_restartRequiredMessage}}</p>
		<button type="button" class="btn btn-primary install-done-restart">
			{{translations.installWizard_installComplete_restartLabel}}
		</button>
		{{else}}
		<p>{{translations.installWizard_installComplete_message}}</p>
		<button type="button" class="btn btn-primary install-done">
			{{translations.installWizard_installComplete_finishButtonLabel}}
		</button>
		{{/if}}
	</div>
	
	<div class="selected-plugin-progress success-panel">
		{{#each installingPlugins}}
		<div class="selected-plugin {{installStatus}}" data-name="{{id name}}">{{title}}</div>
		{{/each}}
	</div>
</div>
