<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{{translations.installWizard_welcomePanel_title}}</h4>
</div>
<div class="modal-body">
  <i class="water-mark icon-service"></i>
  <div class="jumbotron welcome-panel">	   
		 <h1>{{translations.installWizard_welcomePanel_banner}}</h1>
    <p>
			{{translations.installWizard_welcomePanel_message}}
		</p>
		<p class="button-set">
			<a class="btn btn-primary btn-lg btn-huge install-recommended" href="#" role="button">
				<b>{{translations.installWizard_welcomePanel_recommendedActionTitle}}</b>
				<sub>
					{{translations.installWizard_welcomePanel_recommendedActionDetails}}
				</sub>
				<i class="icon icon-signup"></i>
			</a>
			
			<a class="btn btn-default btn-lg btn-huge install-custom" href="#" role="button">
				<b>{{translations.installWizard_welcomePanel_customizeActionTitle}}</b>
				<sub>
					{{translations.installWizard_welcomePanel_customizeActionDetails}}
				</sub>
				<i class="icon icon-plug"></i>
			</a>
		</p>
	</div>
	
</div>
